spring:

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/user?serverTimezone=UTC&character=UTF-8
    username: root
    password: root673254

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

